Django==1.6.5
argparse==1.2.1
django-appconf==0.6
django-bootstrap-form==3.1
django-extensions==1.4.4
django-grappelli==2.6.2
django-mongodb-engine==0.5.2
django-mongonaut==0.2.21
django-user-accounts==1.0
djangotoolbox==1.6.2
ipython==2.3.0
mongodbforms==0.3
pinax-theme-bootstrap==5.5.1
pinax-theme-bootstrap-account==1.0b3
pymongo==2.7.2
pytz==2014.7
six==1.8.0
wsgiref==0.1.2

