
{% extends "site_base.html" %}
{% load bootstrap %}

{% block body %} 

{% if form.non_field_errors %}
    <div class="alert alert-error">
        <strong>Please correct the errors bellow</strong><br>
        {% for error in form.non_field_errors %}
            {{ error }}<br>
        {% endfor %}
    </div>
{% endif %}

<form class="form-horizontal" role="form" action="/your-name/" method="post">
    {% csrf_token %}
    {{ location_form|bootstrap }}
  <input type="submit" class="bnt btn-success" value="Submit" />
</form>

{% endblock %}
